<div class="main posts-index">
  <div class="container">
<%= form_tag :rakuten_search, method: :get do  %>
<%= label_tag :keyword, 'キーワード検索' %>
<%= text_field_tag 'keyword', params[:keyword] %>
<%= submit_tag "検索" %>
<% end %>

<% if @items.present? %>
     <% @items.each do |item| %>
    <div class="posts-index-item">
        <div class="post-left">
        <%= image_tag item["smallImageUrls"][0]%>
        </div>
        <div class="post-right">
          <div class="post-user-name">
         <%= number_with_delimiter(item.price) %>円
          </div>
           <%= link_to item.name, "#{item.url}",:target=>["_blank"] %>
        </div>
    </div>
    <% end %>
    <% end %>
    <%= paginate @items %>
</div>
</div>



  
    

