<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
    <div class="post-user-name">
        <img src="<%= "/post_images/#{@post.image_file}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
          <%= @post.content %>
      <div class="posted-time">
        <%= @post.created_at %>
      </div>

       <% if Bookmark.find_by(user_id: @logined_user.id, post_id: @post.id) %>

        <%= link_to("/bookmarks/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fas fa-bookmark"></span>
        <% end %>
      <% else %>
        <%= link_to("/bookmarks/#{@post.id}/create", {method: "post"}) do %>
          <span class="far fa-bookmark"></span>
        <% end %>
      <% end %>

      <%if @post.user_id == @logined_user.id %>
      <div class="post-menus">
        <%= link_to("編集する", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除する", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      <% end %>  
      </div>
      </p>
    </div>
  </div>
</div>