<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
    <div class="posts-index-item">
        <div class="post-left">
        <img src="<%= "/user_images/#{post.user.image_file}" %>">
        </div>

        <div class="post-right">
          <div class="post-user-name">
         <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            <div class='post_index_picture'>
        　<% if post.picture.present? %>
         <%= '画像ファイル有'%>
         <% end %>   
            </div>
         </div>
         <%= link_to(post.title, "/posts/#{post.id}") %> 
          <%= link_to(post.content, "/posts/#{post.id}") %>         
        </div>
    </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>

