<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  </head>

  <body>

 <header class="header-top">
    <div class="container clear">
      <div class="header-left">
        <%= link_to("review app", "/") %>
      </div>
      <div class="header-right">
        <nav id="navigation">
          <ul class="header-nav">
          
            <% if @logined_user %>
          <li class="header-nav-item"> 
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li class="header-nav-item">
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li class="header-nav-item">
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li class="header-nav-item">
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li class="header-nav-item">
            
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li class="header-nav-item">
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
          </ul>
        </nav>
        </div>
      </div>
    
    </header>

     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
