<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
 <%= javascript_pack_tag 'application'%> 

  </head>

  <body>
<ul class="nav justify-content-center">
  <li class="nav-item nav-link active h4">
   <%= link_to("このサービスについて", "/about") %>
  </li>
  <% if @logined_user %>
  <li class="nav-item nav-link h4">
  <%= link_to("投稿一覧", "/") %>
  </li>
  <li class="nav-item nav-link h4">
    <%= link_to("新規投稿", "/posts/new") %>
  </li>
  <li class="nav-item nav-link h4">
     <%= link_to("ユーザー一覧", "/users/index") %>
  </li>
  <li class="nav-item nav-link h4">
     <%= link_to("本の検索", "/rakuten_search") %>
  </li>
  <li class="nav-item nav-link h4">
     <%= link_to("ログアウト", "/logout", {method: :post}) %>
  </li>
  <% else %>
  <li class="nav-item nav-link h4">
    <%= link_to("新規登録", "/signup") %>
  </li>
  <li class="nav-item nav-link h4">
    <%= link_to("ログイン(ゲストログイン)", "/login") %>
  </li>
</ul>
<% end %>

     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="for-scroll"></div>
  
  <div id="js-scroll-top" class="scroll-top">TOP</div>
  
    <%= yield %>

    <script>
    // スクロール
const PageTopBtn = document.querySelector('#js-scroll-top');
PageTopBtn.addEventListener('click', () =>{
  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  });
});
    </script>
  </body>
</html>


